body {
  background: url("./images/background.png");
  font: normal 15pt Arial;
}
header {
  color: white;
}
section {
  background: white;
  border-radius: 20px;
  padding: 15px;
  width: 1280px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.288);
  text-align: center;
}

#menu ul {
  margin: 0;
  background-color: #d16289;
  list-style: none;
  border-radius: 20px;
  padding: 10px;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 35px;
  color: antiquewhite;
  text-decoration: none;
  position: relative;
<<<<<<< HEAD
  right: 10px;
=======
  right: -70px;
>>>>>>> d4dd7655b53c97170b9c75808f13ee2c013bdc9e
}

#menu ul li a:hover {
  color: #5c2b3c;
}

#logout {
<<<<<<< HEAD
  left: 350px;
=======
  left: 340px;
>>>>>>> d4dd7655b53c97170b9c75808f13ee2c013bdc9e
}
/* div { 

}
|*/
footer {
  color: white;
  text-align: center;
  font-style: italic;
}
