{% extends "_layouts/default.njk" %} {% block body %}

<header>
  <img src="/images/logo.png" height="64" />
</header>
<br />
<section>
  <div id="menu">
    <ul class="menu">
      <li><a href="/app/dashboard">Home</a></li>
      <li><a href="/app/posts">Posts</a></li>
      <li><a href="/app/sobre">Sobre</a></li>
      <li><img src=""</img></li>
      <li><a id="logout" href="/app/logout">Log</a></li>
    </ul>
  </div>
  <br /><br />
  <div>Bem vindo(a) {{ user.name }}</div>
</section>
<footer>
  <p>
    &copy; BlogKRJ
  </p>
  <audio
    src="https://s0.vocaroo.com/media/download_temp/Vocaroo_s0gwBwC0Zjzt.webm"
    controls
    autoplay
  ></audio>
</footer>
{% endblock %}
